<div class="row" style="margin-bottom: 0.1rem; font-size: 10pt;">
   <div class="col-12 md-12 sm-12" style="display: flex; text-align: center;">
    <div style="width: 10%;">
        <input type="checkbox" (change)="onChecked($event)" [checked]="checked">
    </div>
    <div class="ellipsis" title="{{name}}" style="width: 35%; text-align: left;">
        {{name}}
    </div>
    <div class="ellipsis" title="{{ammount | currency}}" style="width: 35%;">
        {{ammount | currency}}
    </div>
    <div style="width: 20%;">
        {{percent}}
    </div>
   </div>
</div>