<div class="row contenido" style="font-size: 10pt;" *ngIf="!isInsumo">
    <div class="col-12 md-12 sm-12" style="margin-bottom: 5%;">
        <div class="row">
            <div class="col-12" style="text-align: center; font-weight: bold; background-color: #a9a9a9;"><label>{{nameCategory}}</label></div>
        </div>
        <div *ngIf="isEditable">
            <div class="row" style="font-weight: bold;">
                <div class="col-2 md-2 sm-12">#</div>
                <div class="col-6 md-6 sm-12">Proveedor</div>
                <div class="col-4 md-4 sm-12" style="align-items: center; text-align: center;">Acciones</div>
            </div>
            <div class="row rowHover" *ngFor="let d of data; let i = index; ">
                <div class="col-2 md-2 sm-12">{{i+1}}</div>
                <div class="col-6 md-6 sm-12 ellipsis" title="{{d.name}}">{{d.name}}</div>
                <div class="col-4 md-4 sm-12">
                    <div class="row">
                        <div class="col-6 md-6 sm-12" (click)="onClickActions(1, d)"><i class="fa fa-edit hover" title="Editar"></i></div>
                        <div class="col-6 md-6 sm-12" (click)="onClickActions(0, d)"><i class="fa fa-trash hover" title="Eliminar"></i></div>
                    </div>
                </div>
            </div>
            <div style="border: solid 1px #d1d1d1; width: 25px; height: 25px; margin-top: 10px; border-radius: 5px; cursor: pointer;"
                title="Agregar {{nameCategory}}"
                (click)="onClickAddCategory()"
                >
                <i style="font-size: 16pt;" class="fa fa-plus" ></i>
            </div>
        </div>
        <div *ngIf="!isEditable">
            <div class="row" style="font-weight: bold;">
                <div class="col-2 md-2 sm-12">#</div>
                <div class="col-6 md-6 sm-12">Proveedor</div>
                <div class="col-4 md-4 sm-12">Total</div>
            </div>
            
            <div class="row" *ngFor="let d of data; let i = index; ">
                <div class="col-2 md-2 sm-12">{{i+1}}</div>
                <div class="col-6 md-6 sm-12">{{d.name}}</div>
                <div class="col-4 md-4 sm-12">
                    <label>{{d.total | currency}}</label>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row contenido" style="font-size: 10pt;" *ngIf="isInsumo">
    <div class="col-12 md-12 sm-12" style="margin-bottom: 5%;">
        <div class="row">
            <div class="col-12" style="text-align: center; font-weight: bold; background-color: #a9a9a9;"><label>{{nameCategory}}</label></div>
        </div>
        <div>
            <div class="row" style="font-weight: bold;">
                <div class="col-1 md-1 sm-12">#</div>
                <div class="col-3 md-3 sm-12">Ingrediente</div>
                <div class="col-3 md-2 sm-12">Costo</div>
                <div class="col-2 md-2 sm-12">Unidad</div>
                <div class="col-2 md-2 sm-12" style="align-items: center; text-align: center;">Acciones</div>
            </div>
            <div class="row rowHover" *ngFor="let d of data; let i = index; ">
                <div class="col-1 md-1 sm-12">{{i+1}}</div>
                <div class="col-3 md-3 sm-12 ellipsis" title="{{d.ingrediente}}">{{d.ingrediente}}</div>
                <div class="col-3 md-2 sm-12 ellipsis" title="{{d.costo | currency}}">{{d.costo | currency}}</div>
                <div class="col-2 md-2 sm-12 ellipsis" title="{{d.name}}">{{d.unidad.name}}</div>
                <div class="col-2 md-2 sm-12">
                    <div class="row">
                        <div class="col-6 md-6 sm-12" (click)="onClickActions(1, d)"><i class="fa fa-edit hover" title="Editar"></i></div>
                        <div class="col-6 md-6 sm-12" (click)="onClickActions(0, d)"><i class="fa fa-trash hover" title="Eliminar"></i></div>
                    </div>
                </div>
            </div>
            <div style="border: solid 1px #d1d1d1; width: 25px; height: 25px; margin-top: 10px; border-radius: 5px; cursor: pointer;"
                title="Agregar {{nameCategory}}"
                (click)="onClickAddCategory()"
                >
                <i style="font-size: 16pt;" class="fa fa-plus" ></i>
            </div>
        </div>
    </div>
</div>