@import '/src/styles.scss';

:host {
    --btn-background: #444;
}
.container {
  display: flex;
  flex-direction: column;
  height: 100px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 0px;
  margin: 0px;
  margin-bottom: 1rem;
}

.top-division {
  display: flex;
  align-items: center;
  color: #000;
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
}

.icon {
  margin-right: 10px;
  font-size: 18pt;
}

.bottom-division {
  padding: 5px;
  font-size: 16pt;
}

