@import '/src/styles.scss';

:host {
    --btn-background: #ffffff;
}

.container {
  width: auto;
  height: 5rem;
  padding: 0px;
//  margin: 0px;
//  margin-bottom: 1rem;
  text-align: center;
}

.top-division {
  width: auto;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  //padding: 4px;
  height: 2.5rem;
  cursor: pointer;
  border: 1px solid #4d4d4d;
 // box-shadow: 3px 0px 6px 1px #252525;
  background-color: #ffffff;
  font-size: 10pt;
  border-radius: 5px;
}

.icon {
  margin-right: 0.5rem;
  font-size: 13pt;
}

.bottom-division {
  padding: 5px;
  font-size: 10pt;
  font-weight: 600;
}
