<div class="row" style="margin: 0; width: 100% !important;">


    <div class="col-4 md-4 sm-12" style="position: fixed; background-color: #fff; border-right: solid 1px #65a4c6;">
        <div class="row">
            <!--Venta mañaneros-->
            <div class="col-5 sm-12 md-5">
                <table class="table display" style="width: 100%;font-size:10pt;">
                    <tr>
                        <td style="width: 3rem;"></td>
                        <td class="primary-color txt-title" style="height:4rem;padding:0 0.5rem;">Venta Mañaneros</td>
                    </tr>
                    <tr>
                        <td style="width:3rem;"></td>
                        <td
                            style="font-weight:bold;color: #fff; text-align:center;">
                        </td>
                    </tr>
                    <tr *ngFor="let item of expensesCategoryGrouped; let i = index;"> <!--Se repite-->
                        <td class="text-end" style="width:3rem;padding:0 0.5rem;height:2rem;">
                            <div *ngIf="item.code == 'food.alimentos'">
                                <select (change)="onChangePercent($any($event.target).value)">
                                    <option *ngFor="let p of foodPercentsList" [selected]="p.selected"
                                        [value]="p.value">
                                        {{p.value}}%</option>
                                </select>
                            </div>
                        </td>
                        <td colspan="3" class="text-start" style="padding:0 0.5rem;height:2rem;">{{item.name}}</td>
                    </tr>
                    <tr style="height:2rem;">
                        <td style="width:3rem;"></td>
                        <td colspan="3" style="font-weight:bold;padding:0 0.5rem;height:2rem;">PROFIT</td>
                    </tr>
                    <tr style="background-color: #fff;height:2rem;"></tr>
                </table>
            </div>
            <!--Estimacion | Hoy-->
            <div class="col-7 md-7 sm-12">
                <table class="table" style="width: 100%;font-size: 10pt;">
                    <tr style="height: 2rem;">
                        <th class="primary-color text-center" style="width:42%">Estimación</th>
                        <th class="text-center" style="width:42%; background-color: #ebe5e5;">Hoy</th>
                        <th class="text-center" rowspan="2" style="width: 16%;">%</th>
                    </tr>
                    <tr style="height:2rem; width: 100%; color: #65a4c6; font-weight: bold;">
                        <td class="text-end" style="padding: 0 1rem;">{{totalSales |
                            currency}}
                        </td>
                        <td class="text-end" style="padding: 0 1rem;">{{totalSales | currency}}</td>
                    </tr>
                    <tr style="height: 2rem;width: 100%; border-bottom: solid 1px #000; color: #65a4c6;" *ngFor="let item of expensesCategoryGrouped"> <!--(ngFor)-->
                        <td class="text-end" style="padding: 0 1rem;">{{ item.estimation | currency}}</td>
                        <td class="text-end" style="padding: 0 1rem;">{{ item.todayTotal | currency}}</td>
                        <td class="text-center" [ngStyle]="{'background-color': item.backgroundColor, 'color': item.color}">{{ item.percent }}</td>
                    </tr>
                    <tr style="height:0.5rem;">
                        <td colspan="3"></td>
                    </tr>
                    <tr style="height:2rem; background-color: #e2efda; color: #65a4c6;"> <!--(ngFor)-->
                        <td class="primary-text text-end" style="padding: 0 1rem;">{{
                            profitStimation.profit | currency}}</td>
                        <td class="primary-text text-end" style="padding: 0 1rem;">{{
                            profitToday.profit
                            | currency}}
                        </td>
                        <td class="primary-text text-center"></td>
                    </tr>
                    <tr style="height:2rem;"><!--(ngFor)-->
                        <td class="primary-text text-center" style="padding: 0 1rem;">{{profitStimation.percent}}</td>
                        <td class="primary-text text-center" style="padding: 0 1rem;">{{profitToday.percent}}</td>
                        <td class="primary-text text-center"></td>
                    </tr>
                    <tr style="background-color:#EFEFEF;height:2rem;"></tr>
                    <!--<tr style="height:2rem;background-color: lightblue;">
                        <td class="text-end" style="padding: 0 1rem;">{{14437.13 | currency}}</td>
                        <td class="text-center" colspan="2">{{66466.80 | currency}}</td>
                    </tr> -->
                </table>
            </div>
        </div>
    </div>


    <!--Other Table-->
    <div class="col-8 md-8 sm-12" style="margin-left: 36rem;">
        <table class="table" style="width:100%;background: #fff;font-size: 10pt;">
            <tr class="primary-color" style="height:2rem">
                <th style="width: 100%; text-align: center;" [attr.colspan]="estimations.length">Venta Estimada Mensual</th>
            </tr>
            <tr style="height: 2rem;">
                <td *ngFor="let estimation of estimations" class="primary-color"
                    style="border:solid 1px #fff; padding: 0 0.5rem 0 1.5rem; font-weight: bold;">{{ estimation |
                    currency }}</td>
            </tr>
            <tr style="height: 2rem;width: 100%;background-color: #fff;" *ngFor="let o of otherStimations">
                <!--(ngFor)-->
                <td class="text-end" style="padding: 0 0.5rem 0 1.5rem; border-bottom: solid 1px #000; color: #65a4c6;" *ngFor="let s of o.data">{{ s.estimation |
                    currency}}</td>
            </tr>
            <tr style="height:0.5rem;">
                <td colspan="17"></td>
            </tr>
            <tr style="height:2rem;background-color:#fff;"> <!--(ngFor)-->
                <td class="primary-text" style="padding: 0 0.5rem 0 1.5rem; background-color: #e2efda;"
                    *ngFor="let s of profitOtherStimations">{{ s.profit | currency }}</td>
            </tr>
            <tr style="height:2rem;background-color:#fff; color: #65a4c6;">
                <td class="primary-text text-center" *ngFor="let s of profitOtherStimations">{{ s.percent }}</td>
            </tr>
            <tr style="background-color:#fff;height:2rem;">
                <td colspan="17"></td>
            </tr>
        </table>
    </div>
</div>