.bar-chart {
    display: flex;
    justify-content: space-around;
    /* Esto separa las barras uniformemente */
    align-items: flex-end;
    /* Alinea las barras en la parte inferior */
    height: 100%;
    /* Altura total del gráfico de barras */
    background-color: #ffffff00; /* Color de fondo del gráfico */
    //padding: 10px;
    /* Espacio alrededor del contenido del gráfico */
    // border: 1px solid #c3c3c3; /* Borde del gráfico */
    border-bottom: 1px solid #838383;
}

.bar {
    width: 50px;
    /* Ancho de cada barra */
   // background-color: #007bff;
    /* Color de las barras */
    margin: 0 1px;
    /* Espacio entre las barras */
    transition: all 0.3s ease;
    /* Transición suave para efectos de hover o cambios */
}

.bar:hover {
    opacity: 0.7;
    /* Efecto al pasar el ratón por encima */
}

/* Opcional: Puedes añadir un pseudo-elemento para mostrar el valor de la barra */
.bar::after {
    content: attr(data-value);
    /* Usa el valor del atributo data-value */
    position: relative;
    top: -25px;
    /* Ajusta según sea necesario */
   // left: -10%;
    float: left;
    transform: translateX(-20%);
    padding: 2px 5px;
    border-radius: 3px;
    font-size: 0.9m;
    text-align: center;
}

.line-title {
    font-weight: bold;
    text-align: center;
    background-color: rgb(224, 224, 224);
    height: 2rem;
}