<div class="menu">
  <app-menu class="menu-content"></app-menu>
  <div class="menu-header">
    <div class="menu-header-logo">
      <div class="row">
        <div class="col-12 sm-12 md-12">
          <div class="logo-content">
            <img src="../../assets/logo.png" alt="" width="70" height="35" />
            <!-- <img class="logo" src="{{ marcaSeleccionada!.sucursal!.logoUrl }}" /> -->
          </div>
        </div>
        <div class="col-12 sm-12 md-12">
          <div class="title">
            <strong>Suc. Bartolome</strong>
          </div>
        </div>
      </div>
    </div>
    <div class="header-title">
      <div class="row">
        <div class="col-3 sm-12 md-3">
          <div style="padding:20px">
            <h6>{{currentPage}}</h6>
          </div>
        </div>
        <div class="col-3 sm-12 md-3"></div>
       
              <div class="col-1 sm-12 md-1"><div><app-button-c description="ventas"/></div></div>
              <div class="col-1 sm-12 md-1"><div><app-button-c description="Gastos"  link="dashboard/gastos"/></div></div>
              <div class="col-1 sm-12 md-1"><div><app-button-c description="Proveedor"/></div></div>
              <div class="col-1 sm-12 md-1"><div><app-button-c description="2023"/></div></div>
              <div class="col-1 sm-12 md-1"><div><app-button-c description="Anual"/></div></div>
              <div class="col-1 sm-12 md-1"><div><app-button-c description="Rango"/></div></div>

      </div>
       
      <div class="row">
        <!-- <div class="col-2 ml-2" style="background-color: darkolivegreen">
          COL 1
        </div>
        <div class="col-auto" style="background-color: cornflowerblue">
          COL 2
        </div> -->
      </div>
    </div>
  </div>
  <div class="content-body">
    <router-outlet></router-outlet>
  </div>
</div>
