.main-content {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}
.header {
  display: flex;
 justify-content: end;
  height: 4rem;
  border-bottom: solid 3px #ffca2e;
  z-index: 100;
  // background-color: #fff;
}
.header-remains {
  width: calc(100% - 13rem);
  height: 100%;
  display: flex;
}
.title-currency {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 4rem;
}
.title-currency h6 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 800;
  font-size: 1.6rem;
  margin-left: 0.5rem;
  color: #090661;
}
.sections {
  background-color: hotpink;
  display: flex;
  justify-content:flex-end;
  align-items: center;
  padding-right: 2rem;
}

.menu-content {
  width: 13rem;
}
.dashboard-menu {
  position: absolute;
  z-index: 300;
}

.content-body {
  position: relative;
  width: calc(100% - 13rem);
  top: 4rem;
  padding: 0.5rem 0rem;
  background-color: orange;
}
/* ------------------------------------------- */


