@import '/src/styles.scss';

table {
    //min-width: 2500px;
   // min-height: 5rem;
 //   font-size: 8pt;

    thead {
        border-bottom: 2px solid #b1b1b1;

        tr {
            th {
                background-color: rgb(255, 255, 255);
                color: #000;
                width: 100px;
                margin-left: 5px;
                margin-right: 5px;
                font-weight: 700;
            }
        }

    }
}


.row-background {
    background-color: #d8d8d8;
}

.row-without-background {
    background-color: #fff;
}