<table style="width: 100%;">
    <thead>
        <tr style=" font-size: 11pt; font-weight: 500;">
            <th colspan="3" style="background-color: #fff; color: #fff;">  Header</th>
        </tr>
        <tr>
            <th class="padding-tr" colspan="3" style="background-color: #fff;"></th>
        </tr>
        <tr  style="text-align: center; height: 2.7rem; font-size: 8pt;">
            <th style="background-color: #fff; color:#000">Fecha</th>
            <th style="background-color: #fff; color:#000">Día</th>
            <th style="background-color: #00b253; color: #fff;">Total Diario</th>
        </tr>
    </thead>
</table>