.cards-total {
    font-size: 9pt;
    margin-right: 0.4rem;
}

.total {
    font-weight: bold;
}

.line-title {
    font-weight: bold;
    text-align: center;
    background-color: rgb(224, 224, 224);
    height: 2rem;
}