.cards-total {
    font-size: 9pt;
    margin-right: 0.4rem;
    border-radius: 5px;
    font-weight: bold;
}

.total {
    font-weight: bold;
}

.line-title {
    font-size: 10pt;
    font-weight: bold;
    text-align: center;
    background-color: rgb(224, 224, 224);
    height: 2rem;
}

/*.ellipsis {
   // width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}*/

table {
    tbody {
        font-size: 10pt;

        tr {
            height: 40px;

            td {
                margin-left: 5px;
                margin-right: 5px;
            }
        }
    }
}


.tr-hover {
    cursor: pointer;
}

.tr-hover:hover {
    background-color: #a0a0a0;
}

.tab-title {
    font-size: 13pt;
    font-weight: bold;
}

.ticket-promedio {

}