<div class="row" style=" margin: 0; width: 100% !important;">
    <div class="col-12 sm-12 md-12">
        <div class="row">
            <div class="col-12">
                <accordion>
                    <!-- ///////////  INDICADORES ////////////-->
                    <accordion-group [isOpen]="true">
                        <span accordion-heading>
                            <label style="font-size: 13pt; font-weight: bold;">Indicadores</label> &nbsp; <i
                                style="float: right;" class='fa fa-chevron-down'></i>
                        </span>

                        <table style="width: 100%;">
                            <thead>
                                <tr>
                                    <th style="background-color: #fff; width: 6%;"></th>
                                    <th style="width: 1% !important; background-color: #fff;"></th>
                                    <th style="width: 6%;">KPI'S</th>
                                    <th style="width: 1% !important; background-color: #fff;"></th>
                                    <th [ngStyle]="{'width': 'calc((100% - 14%)/12)'}" *ngFor="let month of months">{{month.name}}</th>
                                </tr>
                                <tr style="height: 0.7rem;"></tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="ellipsis"
                                        style="background-color: #fff !important; text-align: start !important; font-weight: bold; margin-bottom: 2rem !important;">
                                        {{dataRowSales?.name!}}
                                    </td>
                                    <th style="background-color: #fff;"></th>
                                    <td style="background-color: #fff !important;">{{ dataRowSales?.kpi }}</td>
                                    <th style="background-color: #fff;"></th>
                                    <td *ngFor="let month of dataRowSales?.months">
                                        {{month.total | currency}}
                                        <div style="width: 100%; height: 20px; text-align: center;" [ngStyle]="{'background-color': month.backgroundColor, 'color': month.color}">
                                            {{month.percent}}%
                                        </div>
                                    </td>
                                </tr>
                                <tr style="height: 1rem;  border-left: solid 1px #fff !important; border-right: solid 1px #fff !important;"></tr>
                                <tr *ngFor="let data of listCategoryExpensesKpi; let i = index">

                                    <td class="ellipsis"
                                        style="background-color: #fff !important; text-align: start !important; font-weight: bold; margin-bottom: 2rem !important;">
                                        {{data.name}}</td>
                                    <th style="background-color: #fff;"></th>
                                    <td style="background-color: #fff !important;">{{ data.kpi }}</td>
                                    <th style="background-color: #fff;"></th>
                                    <td *ngFor="let month of data.months">
                                        {{month.total | currency}}
                                        <div style="width: 100%; height: 20px; text-align: center;" [ngStyle]="{'background-color': month.backgroundColor, 'color': month.color}">
                                            {{month.percent}}%
                                        </div>
                                    </td>
                                </tr>

                                <tr style="height: 1rem;  border-left: solid 1px #fff !important; border-right: solid 1px #fff !important;"></tr>
                                <tr>
                                    <td class="ellipsis"
                                        style="background-color: #fff !important; text-align: start !important; font-weight: bold; margin-bottom: 2rem !important;">
                                        {{dataRowProfit?.name}}</td>
                                    <th style="background-color: #fff;"></th>
                                    <td style="background-color: #fff !important;">{{ dataRowProfit?.kpi }}</td>
                                    <th style="background-color: #fff;"></th>
                                    <td *ngFor="let month of dataRowProfit?.months" style="background-color: #85bcf585;">
                                        {{month.total | currency}}
                                        <div style="width: 100%; height: 20px; text-align: center;" [ngStyle]="{'background-color': month.backgroundColor, 'color': month.color}">
                                            {{month.percent}}%
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </accordion-group>

                    <accordion-group>
                        <span accordion-heading>
                            <label style="font-size: 13pt; font-weight: bold;">Graficas</label> &nbsp; <i
                                style="float: right;" class='fa fa-chevron-down'></i>
                        </span>
                        <div style="height: 2rem;"></div>
                        <div class="row">
                            <div class="col-3 md-3 sm-12" *ngFor="let data of dataTable">
                                <div style="width: 100%; height: 1.5rem;" style="text-align: center; border: solid 2px;" [ngStyle]="{'border-color': data.color}">
                                    {{data.name}}
                                </div>
                                <canvas baseChart class="chart" [data]="data.dataChart" [options]="barChartOptions"
                                    [type]="'bar'">
                                </canvas>
                            </div>
                        </div>
                    </accordion-group>
                </accordion>
            </div>
        </div>
    </div>
</div>