@import '/src/styles.scss';

table {
    thead {
        font-size: 10pt;
        tr {
            background-color: $primaryColor;
            th {
                text-align: center;
                border-right: 1px solid #fff;
                margin-left: 1px;
                color: #fff;
                margin-bottom: 1rem;
            }
        }
    }
    tbody {
        font-size: 10pt;
        tr {
            height: 1.8rem;
            border: solid 1px #505050;
            td {
                text-align: center;
            }
        }
    }
}
