<div class="row"  style=" margin: 0; width: 100% !important;">
   <div class="col-12 sm-12 md-12">
      <div class="row" style="padding-bottom: 1rem;">
         <div class="col-4 sm-12 md-8">
            <button (click)="openModal(template)" style="font-size: 7pt;">Registrar Gasto</button>
         </div>
         <div class="col-4 sm-12 md-8"></div>
         <div class="col-4 sm-12 md-8">
           
         </div>
      </div>

      <gastos-chart [expenses]="expensesOriginal"  [foodCategories]="foodCategories" (onChangeCategoryEvent)="onFilterCategory($event)"/>

      <div class="row" style="margin: 2%;">
         <div class="col-4 md-4 sm-12"></div>
         <div class="col-4 md-4 sm-12"></div>
         <div class="col-4 md-4 sm-12">
            <input type="text" class="form-control" (keyup)="onSearchExpense($event)" placeholder="Buscar...">
         </div>
      </div>
      <div class="row">
         <div class="col-12 sm-12 md-12">
            <mat-table [dataSource]="dataSource" class="mat-elevation-z8">

               <ng-container matColumnDef="Fecha">
                  <mat-header-cell *matHeaderCellDef> Fecha </mat-header-cell>
                  <mat-cell *matCellDef="let item">{{ item.date }} </mat-cell>
               </ng-container>
              
               <ng-container matColumnDef="Dia">
                  <mat-header-cell *matHeaderCellDef> Dia </mat-header-cell>
                  <mat-cell *matCellDef="let item">{{ item.weekDay }} </mat-cell>
               </ng-container>

               <ng-container matColumnDef="Categoria">
                  <mat-header-cell *matHeaderCellDef> Categoria </mat-header-cell>
                  <mat-cell *matCellDef="let item"> {{ item.foodCategories?.name }} </mat-cell>
               </ng-container>

               <ng-container matColumnDef="Proveedor">
                  <mat-header-cell *matHeaderCellDef> Proveedor </mat-header-cell>
                  <mat-cell *matCellDef="let item"> {{ item.providerCategories?.name }} </mat-cell>
               </ng-container>

               <ng-container matColumnDef="Operación">
                  <mat-header-cell *matHeaderCellDef> Operación </mat-header-cell>
                  <mat-cell *matCellDef="let item"> {{ item.operationType?.name }} </mat-cell>
               </ng-container>

               <ng-container matColumnDef="Monto">
                  <mat-header-cell *matHeaderCellDef> Monto </mat-header-cell>
                  <mat-cell *matCellDef="let item"> {{ item.amount | currency }} </mat-cell>
               </ng-container>

               <ng-container matColumnDef="Facturación">
                  <mat-header-cell *matHeaderCellDef> Factura </mat-header-cell>
                  <mat-cell *matCellDef="let item"> {{ item.billing }} </mat-cell>
               </ng-container>

               <ng-container matColumnDef="Acciones">
                  <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
                  <mat-cell *matCellDef="let item">
                     <div style="display: inline-block;">
                        <i style="font-size: 16pt; cursor: pointer; margin-right: 1rem; color: rgb(33, 197, 0);"
                           class="fa-solid fa-pen-to-square" (click)="onEditExpense(item, template)"></i>
                        <i style="font-size: 16pt; cursor: pointer; color: rgb(230, 28, 28);"
                           class="fa-solid fa-trash" (click)="onDeleteExpense(item)"></i>
                     </div>
                  </mat-cell>
               </ng-container>
               
               <mat-header-row *matHeaderRowDef="columnas"></mat-header-row>
               <mat-row *matRowDef="let row; columns: columnas;"></mat-row>
            </mat-table>
            <mat-paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons></mat-paginator>

         </div>
      </div>
   </div>

  

   <ng-template #template>
      <div class="modal-header">
         <h4 class="modal-title pull-left">Registrar Gasto</h4>
         <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true" class="visually-hidden">&times;</span>
         </button>
      </div>
      <div class="modal-body">

         <div class="row">
            <div class="col-6 md-6 sm-12">
               <label>Fecha</label>
               <input type="text" class="form-control" bsDatepicker [(bsValue)]="billRegister!.date" noText
                  [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }" [maxDate]="billRegister!.maxDate" />
            </div>
         </div>

         <div class="row">
            <div class="col-6 md-6 sm-12"><label>*Categoria</label>
               <ngx-select-dropdown [config]="config" [options]="foodCategories"
                  [(ngModel)]="billRegister!.foodCategories" (change)="onChangeCategory($event)"></ngx-select-dropdown>
            </div>
            <div class="col-6 md-6 sm-12"><label>*Proveedor</label>
               <ngx-select-dropdown [config]="config" [options]="providerCategories"
                  [(ngModel)]="billRegister!.providerCategories"></ngx-select-dropdown>
            </div>
         </div>

         <div class="row">
            <div class="col-6 md-6 sm-12"><label>*Tipo de Operación</label>
               <ngx-select-dropdown [config]="config" [options]="operationCategories"
                  [(ngModel)]="billRegister!.operationType"></ngx-select-dropdown>
            </div>
            <div class="col-6 md-6 sm-12">
               <label>*Monto</label>
               <br>
               <input type="text" class="form-control" value="" [(ngModel)]="billRegister!.amount" formatoMoneda>
            </div>

         </div>
         <div class="row">
            <div class="col-12 md-12 sm-12">
               <label>Comentarios</label>
               <br>
               <textarea type="text" rows="2" cols="50" class="form-control" value=""
                  [(ngModel)]="billRegister!.name"> </textarea>
            </div>
            <!--<div class="col-6 md-6 sm-12">
               <label>Descripción</label>
               <br>
               <input type="text" class="form-control" placeholder="Ingrese una descripción" value=""
                  [(ngModel)]="billRegister!.description">
            </div>-->

         </div>
         <br>
         Factura:
         <input class="form-check-input" type="checkbox"  [checked]="billRegister!.selected"
            (change)="onCheckedBilling($event)">
         <br><br>
         <button (click)="saveExpense()">Guardar</button>
      </div>
   </ng-template>

</div>