
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$tacos-pacos-primary: mat.define-palette(mat.$indigo-palette);
$tacos-pacos-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$tacos-pacos-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$tacos-pacos-theme: mat.define-light-theme((
  color: (
    primary: $tacos-pacos-primary,
    accent: $tacos-pacos-accent,
    warn: $tacos-pacos-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($tacos-pacos-theme);

/* You can add global styles to this file, and also import other style files */

$primaryColor: #090661;
$primaryColorBlack: #21496b;
$fontColor: #fff;
$fontSizeTitle: 19pt;
$fontSizeSubtitle: 14pt;
$fontSizeText: 13pt;
$colorGreen: #6cbb37;
$colorOrange: rgb(238, 147, 29);



button {
    background-color: $primaryColor;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px !important;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: $primaryColorBlack;
}

button:active {
    background-color: $primaryColor;
}


.greenBtn {
    //background-color:  $colorGreen;
    color: #55a71d !important;
    font-weight: bold;
}

.orangeBtn {
    //background-color: $colorOrange;
    color: #e38814 !important;
    font-weight: bold;
}

.blueBtn {
    //background-color: #5a71d9;
    color: #4264ff !important;
    font-weight: bold;
 }


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


bs-datepicker-container { z-index: 3000 !important;}


.subtitle {
    font-size: 14pt;
    font-weight: bold;
    color: $primaryColorBlack;
}

.ellipsis {
    // width: 100%;
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
 }

 .center {
    display: flex;
    align-items: center;
    justify-content: center;
}