<table>
    <thead>

        <tr style="text-align: center; font-size: 11pt; font-weight: 500;">
            <th class="padding-tr" colspan="9" style="background-color: #074877; color: #fff;">
                Venta en Sucursal
            </th>
            <th style="width: 40px;"></th>
            <th class="padding-tr" colspan="13" style="background-color: #074877; color: #fff;">
                Venta en APPS
            </th>
        </tr>
        <tr>
            <th class="padding-tr" colspan="25" style="background-color: #fff;"></th>
        </tr>
        <tr style="text-align: center; height: 20px; font-size: 8pt;">
            <!--<th style="background-color: #fff; color:#000">Fecha</th>
            <th style="background-color: #fff; color:#000">Día</th>
            <th style="background-color: #00b253; color: #fff;">Total
                Diario</th>-->
            <th style="background-color: #074877; color: #fff;">Total Sucursal
            </th>
            <th>Comedor</th>
            <th>Para Llevar</th>
            <th>Recoger</th>
            <th>Domicilio</th>
            <th style="color: #669e2a;">Efectivo</th>
            <th style="color: #ff5050;">Pay</th>
            <th>Comisión</th>
            <th>Pago</th>
            <th style="width: 48px;"></th>
            <th style="background-color: #074877; color: #fff;">Total Apps</th>
            <th><img width="60" height="40" src="assets/uber.svg"></th>
            <th>Ingreso</th>
            <th style="width: 56px;">%</th>
            <th>Pago</th>
            <th><img width="50" height="25" src="assets/rappi.png"></th>
            <th>Ingreso</th>
            <th style="width: 56px;">%</th>
            <th>Pago</th>
            <th><img width="60" height="40" src="assets/didi.svg"></th>
            <th>Ingreso</th>
            <th style="width: 56px;">%</th>
            <th>Pago</th>

        </tr>

    </thead>
</table>