<div class="row" style=" margin: 0; width: 100% !important;">
    <div class="col-12 sm-12 md-12">
        <div class="row">
            <div class="col-12">
                <accordion>
                    <!-- ********* BALANCE *********-->
                    <accordion-group [isOpen]="true">
                        <span accordion-heading>
                            <label style="font-size: 13pt; font-weight: bold;">Balance</label> &nbsp; <i
                                style="float: right;" class='fa fa-chevron-down'></i>
                        </span>
                        <div class="row">
                            <div class="col-2 sm-12 md-2" style="padding-top: 1rem;">
                                <app-primary-button  description="{{balanceType.VENTAS}}" icon="dollar-sign"
                                    total="{{totalSales | currency}}" backgrounColor="blueBtn"
                                    (checkedEvent)="onCheckedEvent($event)"></app-primary-button>

                                <app-primary-button description="{{balanceType.GASTOS}}" icon="arrow-trend-down"
                                    total="{{totalExpenses | currency}}" backgrounColor="orangeBtn"
                                    (checkedEvent)="onCheckedEvent($event)"></app-primary-button>

                                <app-primary-button description="{{balanceType.PROFIT}}" icon="money-bill-trend-up"
                                    total="{{profit | currency}}" backgrounColor="greenBtn"
                                    (checkedEvent)="onCheckedEvent($event)"></app-primary-button>
                                <div style="text-align: center;">
                                    <i class="fas fa-chart-simple" style="color: #3c8be6;" aria-hidden="true"></i>&nbsp;
                                    <label style="font-weight: bold;" [ngStyle]="{'color': chartColors.profit}">{{profitPercent}}</label>
                                </div>
                            </div>

                            <div class="col-8 md-8 sm-12">
                                <canvas style="height: 80px;" baseChart class="chart" [data]="barChartDataBalance"
                                    [options]="barChartOptions" [type]="'bar'">
                                </canvas>

                                <div *ngFor="let  data of barChartDataBalance.datasets">
                                    <div
                                        style="height: auto; margin-bottom: 0.5rem; margin-top: 0.5rem; display: flex;">
                                        <div style="z-index: -10; width: auto; position: absolute; padding-left: 1rem;"
                                            id="maxNumber">
                                            <label style="color: transparent; font-size: 10pt;">{{maxNumber}}</label>
                                        </div>
                                        <div style="display: flex;" [ngStyle]="{'width': widthMxNumber}">
                                            <div style="width: 8px; height: 8px; margin-top: 10%; margin-right: 2px;"
                                                [ngStyle]="{'background-color': data.backgroundColor}"></div>
                                            <div title="{{data.label}}" class="ellipsis"
                                                style="font-size: 9pt; font-weight: bold;">
                                                {{data.label}}
                                            </div>
                                        </div>
                                        <div class="ellipsis" *ngFor="let total of data.data"
                                            style="height: 100%; text-align: center; font-size: 8pt; margin-right: 0.1rem; margin-top: 0.1rem;"
                                            [ngStyle]="{'width': maxWidthMaxNumberLabel}"
                                            title="{{total | currency}}">
                                            {{total | currency}}
                                        </div>

                                    </div>
                                </div>
                                <div>
                                    <div
                                        style="height: auto; margin-bottom: 0.5rem; margin-top: 0.5rem; display: flex;">
                                        <div style="width: auto;  padding-left: 1rem;" id="maxNumber">
                                            <label style="color: transparent; font-size: 10pt;">{{maxNumber}}</label>
                                        </div>
                                        <div class="ellipsis" *ngFor="let profit of profitPercents"
                                            style="height: 100%; text-align: center; font-size: 8pt; font-weight: bold;"
                                            [ngStyle]="{'width': maxWidthMaxNumberLabel, 'color': chartColors.profit}">
                                            {{profit}}
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="col-2 md-2 sm-12">
                                <div class="row indicator-row">
                                    <div class="col-4 md-4 sm-12 ellipsis" title="Ventas" style="text-align:end;align-content:center;font-size: 9pt;">
                                        <strong>Ventas</strong>
                                    </div>
                                    <div class="col-8 md-8 sm-12">
                                        <div class="bar-chart-horizontal">
                                            <div class="bar-horizontal" style="width: 100%; background-color: #707070;font-size: 9pt;"
                                                [attr.data-value]="salesIndicator.total | currency"></div>
                                            <div class="bar-horizontal"
                                                [ngStyle]="{'width': salesIndicator.percent, 'background-color': chartColors.ventas }"
                                                [attr.data-value]="salesIndicator.percent" title="{{salesIndicator.percent}}" style="font-size: 9pt;">
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="row indicator-row">
                                    <div class="col-4 md-4 sm-12 ellipsis" title="Profit"
                                        style="text-align:end;align-content:center;font-size: 9pt;">
                                       <strong>Profit</strong>
                                    </div>
                                    <div class="col-8 md-8 sm-12">
                                        <div class="bar-chart-horizontal">
                                            <div class="bar-horizontal" style="width: 100%; background-color: #707070;font-size: 9pt;"
                                                [attr.data-value]="profitIndicator.total | currency"></div>
                                            <div class="bar-horizontal"
                                                [ngStyle]="{'width': profitIndicator.percent, 'background-color': chartColors.profit}"
                                                [attr.data-value]="profitIndicator.percent" title="{{profitIndicator.percent}}" style="font-size: 9pt;">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row indicator-row">
                                    <div class="col-4 md-4 sm-12 ellipsis" title="Alimentos"
                                        style="text-align:end;align-content:center;font-size: 9pt;">
                                        <strong>Alimentos</strong>
                                    </div>
                                    <div class="col-8 md-8 sm-12">
                                        <div class="bar-chart-horizontal">
                                            <div class="bar-horizontal" style="width: 100%; background-color: #707070;font-size: 9pt;"
                                                [attr.data-value]="foodIndicator.total | currency">
                                            </div>
                                            <div class="bar-horizontal"
                                                [ngStyle]="{width: foodIndicator.percent, 'background-color': chartColors.gastos}"
                                                [attr.data-value]="foodIndicator.percent"  title="{{foodIndicator.percent}}"  style="font-size: 9pt;">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </accordion-group>

                    <!-- ********  VENTAS ********-->
                    <accordion-group [isOpen]="false">
                        <span accordion-heading>
                            <label style="font-size: 13pt; font-weight: bold;">Ventas</label> &nbsp; <i
                                style="float: right;" class='fa fa-chevron-down'></i>
                        </span>

                        <ventas-chart [sales]="sales" [isResultadosScreen]="true"
                            (typeFilterEvent)="filterCharts($event)" [brandSelected]="brandSelected" />

                        <div class="row" style="margin-top: 2rem;">
                            <div class="col-4 md-4 sm-12">
                                <div class="line-title"><label>Venta Diaria</label></div>
                                <canvas baseChart class="chart" style="height: 150px !important;"
                                    [data]="barChartDataDaily" [options]="barChartOptions" [type]="'bar'"></canvas>
                            </div>
                            <div class="col-5 md-5 sm-12">
                                <div class="line-title"><label>Tipo de Pago</label></div>
                                <tipo-pago-chart [payment]="paymentType" />
                            </div>
                            <div class="col-2 md-2 sm-12">
                                <div class="line-title"><label>Ticket Promedio</label></div>
                                <div class="row" style="font-size: 9pt; margin-top: 1rem;"  *ngFor="let ticket of ticketsTargetList">
                                    <div class="col-8 md-8 sm-12">
                                        {{ticket.name}}
                                    </div>
                                    <div class="col-4 md-4 sm-12">
                                        <label>{{ticket.average | currency}}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-1 md-1 sm-12">
                                <div class="line-title"><label># Ordenes</label></div>
                                <div class="row" style="font-size: 9pt; margin-top: 1rem; text-align: center;" *ngFor="let ticket of ticketsTargetList">
                                    <div class="col-12 md-12 sm-12">
                                        {{ticket.count}}
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </accordion-group>

                    <!-- ///////////  GASTOS ////////////-->
                    <accordion-group [isOpen]="false">
                        <span accordion-heading>
                            <label style="font-size: 13pt; font-weight: bold;">Gastos</label> &nbsp; <i
                                style="float: right;" class='fa fa-chevron-down'></i>
                        </span>
                        <gastos-chart [expenses]="expenses" [foodCategories]="foodCategories"
                            (onChangeCategoryEvent)="onChangeCategory($event)" />

                        <div class="row" style="margin-top: 1rem;" *ngIf="foodSupplier.length > 0">
                            <div class="col-12 md-12 sm-12">
                                <div class="row">
                                    <div class="col-12 md-12 sm-12 line-title">
                                        <label>{{ foodCategorySelected }}</label>
                                    </div>
                                </div>
                                <div class="row" *ngIf="typeFilterExpenses != 'ALL'">
                                    <div class="col-12 md-12 sm-12">
                                        <div
                                            style="display: flex; max-width: 100%; flex-wrap: wrap; align-items: center;">
                                            <div *ngFor="let sup of foodSupplier"
                                                style="display: flex; text-align: center; width: calc(100% / 6); margin: 1rem;">
                                                <div class="ellipsis"
                                                    style="width: 50%; background-color: #d1d1d1; padding: 5px; color: #e68c38; font-weight: bold;">
                                                    {{sup.name}}
                                                </div>
                                                <label style="margin-left: 10px; margin-top: 2%;">{{sup.total |
                                                    currency}}</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 1%;" *ngIf="typeFilterExpenses == 'ALL'">
                                    <div class="col-3" *ngFor="let sup of foodSupplier" style="margin-bottom: 1%;">
                                        <category-supplier-card [nameCategory]="sup.name"
                                            [data]="sup.providers"></category-supplier-card>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </accordion-group>

                    <!--************  CUENTAS POR COBRAR *************-->

                    <accordion-group [isOpen]="false">
                        <span accordion-heading>
                            <label style="font-size: 13pt; font-weight: bold;">Cuentas por cobrar</label> &nbsp; <i
                                style="float: right;" class='fa fa-chevron-down'></i>
                        </span>

                        <div class="row">
                            <div class="col-5 md-5 sm-12">
                                <table style="width: 100%;">
                                    <thead style="background-color: #a0a0a0; font-size: 11pt;">
                                        <tr>
                                            <th style="background-color: #a0a0a0; width: 5%;"></th>
                                            <th style="width: 30%;">Concepto</th>
                                            <th style="width: 30%;">Monto</th>
                                            <th style="width: 20%;">Pago</th>
                                            <th style="width: 15%;">Tipo de Pago</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="tr-hover" title="Editar" *ngFor="let cc of cuentasPorCobrar; let i = index;">
                                            <td style="background-color: #a0a0a0;">{{i+1}}</td>
                                            <td>{{cc.concept}}</td>
                                            <td>{{cc.amount | currency}}</td>
                                            <td>
                                                {{cc.isPay?'SI':'NO'}}
                                            </td>
                                            <td>
                                                {{!cc.operationType ? '-' : cc.operationType.name}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-3 md-3 sm-12"></div>
                        </div>

                        <!--<div class="row">
                            <div class="col-5 md-5 sm-12">
                                <table style="width: 100%;">
                                    <thead style="background-color: #a0a0a0; font-size: 11pt;">
                                        <tr>
                                            <th style="background-color: #a0a0a0; width: 5%;"></th>
                                            <th style="width: 30%;">Concepto</th>
                                            <th style="width: 30%;">Monto</th>
                                            <th style="width: 20%;">Pago</th>
                                            <th style="width: 15%;">Tipo de Pago</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="tr-hover" title="Editar" *ngFor="let cc of cuentasPorCobrar; let i = index;" (click)="editCuentasPorCobrar(cc, template)">
                                            <td style="background-color: #a0a0a0;">{{i+1}}</td>
                                            <td>{{cc.concept}}</td>
                                            <td>{{cc.amount | currency}}</td>
                                            <td>
                                                {{cc.isPay?'SI':'NO'}}
                                            </td>
                                            <td>
                                                {{!cc.operationType ? '-' : cc.operationType.name}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="row">
                                    <div class="col-1">
                                        <div
                                            style=" border: solid 1px #d1d1d1; width: 25px; height: 25px; margin-top: 10px; border-radius: 5px; cursor: pointer;" title="Agregar">
                                            <i style="font-size: 16pt;" class="fa fa-plus" (click)="openModal(template)"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3 md-3 sm-12"></div>
                        </div>-->
                    </accordion-group>
                </accordion>
            </div>

        </div>
    </div>

</div>