
.greenBtn {
    --btn-background:  rgb(108, 187, 55);
 }
 .greenBtn:hover {
   --btn-background:  rgb(108, 187, 55);
 }
 
 .blueBtn {
    --btn-background: rgb(36, 73, 236);
    
 }
 .blueBtn:hover {
   --btn-background: rgb(36, 73, 236) !important;
 }
 
 .orangeBtn {
    --btn-background: rgb(238, 147, 29);
 }
 .orangeBtn:hover {
   --btn-background: rgb(238, 147, 29) !important;
 }

 .btn-link{
  text-decoration: none !important;
 }

 
 .accordion-toggle[aria-expanded="true"]:before {
  content: "\f107";
  font: normal normal normal 14px/1 FontAwesome;
}

.accordion-toggle[aria-expanded="false"]:before {
  content: '\f106';
  font: normal normal normal 14px/1 FontAwesome;
}

.title-accordion {
  text-decoration: none !important;
  background-color: lightcoral !important;
}

.line-title {
  font-weight: bold;
  text-align: center;
  background-color: rgb(224, 224, 224);
  height: 2rem;
}