
.greenBtn {
    --btn-background:  rgb(108, 187, 55);
 }
 .greenBtn:hover {
   --btn-background:  rgb(108, 187, 55);
 }
 
 .blueBtn {
    --btn-background: rgb(36, 73, 236);
    
 }
 .blueBtn:hover {
   --btn-background: rgb(36, 73, 236) !important;
 }
 
 .orangeBtn {
    --btn-background: rgb(238, 147, 29);
 }
 .orangeBtn:hover {
   --btn-background: rgb(238, 147, 29) !important;
 }