<!--<div class="row" style="margin: 1%;">
    <div class="col-6 sm-12 md-6 lg-6">
        <h4>ESTADO DE RESULTADOS ENE-DIC 2023</h4>
    </div>
    <div class="col-1 sm-12 md-1 lg-1 text-end fs-5">
        <label>MES:</label>
    </div>
    <div class="col-2 sm-12 md-2 lg-2">
        <select class="form-control">
            <option value="0">TODOS</option>
            <option value="1">ENERO</option>
            <option value="2">FEBRERO</option>
            <option value="2">MARZO</option>
            <option value="2">ABRIL</option>
            <option value="2">MAYO</option>
            <option value="2">JUNIO</option>
            <option value="2">JULIO</option>
            <option value="2">AGOSTO</option>

        </select>
    </div>
    <div class="col-1 sm-12 md-1 lg-1 text-end fs-5">
        <label>AÑO:</label>
    </div>
    <div class="col-2 sm-12 md-2 lg-2">
        <select class="form-control">
            <option value="1">2022</option>
            <option value="2">2023</option>
        </select>
    </div>
</div> -->
<div class="row" style=" margin: 0; width: 100% !important;">
    <div class="col-12 sm-12 md-12">
        <div class="row">

            <div class="col-12">
                <accordion>
                    <accordion-group heading="Balance" style="text-decoration: none !important;">
                        <div class="row">
                            <div class="col-2 sm-12 md-2  ">
                                <app-primary-button description="VENTAS" icon="dollar-sign" total="$32444.00"
                                    backgrounColor="blueBtn"></app-primary-button>

                                <app-primary-button description="GASTOS" icon="arrow-trend-down" total="$333.33"
                                    backgrounColor="orangeBtn"></app-primary-button>

                                <app-primary-button description="PROFIT" icon="money-bill-trend-up" total="$555.00"
                                    backgrounColor="greenBtn"></app-primary-button>
                            </div>
                        </div>
                    </accordion-group>
                    <accordion-group heading="Sección 2">
                        <div class="row">
                            <div class="col-2 sm-12 md-2  ">
                                <app-primary-button description="VENTAS" icon="dollar-sign" total="$32444.00"
                                    backgrounColor="blueBtn"></app-primary-button>

                                <app-primary-button description="GASTOS" icon="arrow-trend-down" total="$333.33"
                                    backgrounColor="orangeBtn"></app-primary-button>

                                <app-primary-button description="PROFIT" icon="money-bill-trend-up" total="$555.00"
                                    backgrounColor="greenBtn"></app-primary-button>
                            </div>
                        </div>
                    </accordion-group>
                </accordion>
                <!---->
            </div>
            <!--<div class="col-12">
                
            </div>
            <div class="col-12">
                
            </div>-->
        </div>
    </div>
    <!--<div class="col-7 sm-7 md-7">
        <canvas baseChart class="chart" [data]="lineChartData" [options]="lineChartOptions" [type]="lineChartType"
            (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
    </div>
    <div class="col-3 sm-3 md-3">
        <canvas baseChart class="chart" [data]="doughnutChartData" [type]="doughnutChartType">
        </canvas>
    </div>-->
</div>
<!--
<div class="row" style=" margin: 0; width: 100% !important;">
    <div class="col-4 sm-12 md-4">

        <div class="row">
            <div class="col-12 sm-12 md-12 lg-12">
                <label></label>
            </div>
        </div>
        <canvas baseChart class="chart" [data]="barChartData" [options]="barChartOptions"
            [type]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
        </canvas>

    </div>
    <div class="col-4 sm-12 md-4">

        <div class="row">
            <div class="col-12 sm-12 md-12 lg-12">
                <label></label>
            </div>
        </div>
        <canvas baseChart class="chart" [data]="barChartData" [options]="barChartOptions"
            [type]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
        </canvas>

    </div>
    <div class="col-4 sm-12 md-4">
        <div class="row">
            <div class="col-12 sm-12 md-12 lg-12">
                <label></label>
            </div>
        </div>
        <canvas baseChart class="chart" [data]="barChartData" [options]="barChartOptions"
            [type]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
        </canvas>
    </div>
</div>

<div class="row" style=" margin: 0; width: 100% !important;">
    <div class="col-4 sm-12 md-4">

        <div class="row">
            <div class="col-12 sm-12 md-12 lg-12">
                <label></label>
            </div>
        </div>
        <canvas baseChart class="chart" [data]="barChartData" [options]="barChartOptions"
            [type]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
        </canvas>

    </div>
    <div class="col-4 sm-12 md-4">

        <div class="row">
            <div class="col-12 sm-12 md-12 lg-12">
                <label></label>
            </div>
        </div>
        <canvas baseChart class="chart" [data]="barChartData" [options]="barChartOptions"
            [type]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
        </canvas>

    </div>
    <div class="col-4 sm-12 md-4">
        <div class="row">
            <div class="col-12 sm-12 md-12 lg-12">
                <label></label>
            </div>
        </div>
        <canvas baseChart class="chart" [data]="barChartData" [options]="barChartOptions"
            [type]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
        </canvas>
    </div>
</div>-->