@import '/src/styles.scss';

.menu-container {
  position:fixed;
  top: 4rem;
  left: 0;
  bottom: 0;
  width: 13rem;
  background-color: #090661;
  color: $fontColor;
/*   transform: translateX(-100%); */
  transition: transform 0.3s ease-out;
  border-right: solid 1px #090661;
}

/* .menu-container.open {
  transform: translateX(0);
} */

.menu-list-content ul {
  list-style: none;
  padding: 0;
  margin: 1.5rem 0;
}

.list-item {
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
  cursor: pointer;
}

.list-item:hover {
  opacity: 1;
  background-color: #ffca2e;
}

.menu-list-content ul li i {
  font-size: 1.5rem;
  margin-right: 3%;
}

a {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.1rem;
  text-decoration: none;
  color: $fontColor;
}

.footer-content {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  bottom: 2rem;
}

.footer-content i {
  font-size: 1,5rem;
  color: #fff;
}

footer {
  a {
    cursor: pointer;
  }
}
