@import '/src/styles.scss';

.menu-btn {
  position: relative;
  cursor: pointer;
  width: 4%;
}

.menu-icon {
  font-size: 24px;
  line-height: 1;
  transition: transform 0.3s;
}

.menu-text {
  position: absolute;
  top: 0;
  left: 40px;
  line-height: 40px;
  opacity: 0;
  transition: opacity 0.3s;
}

.menu-text.hidden {
  opacity: 1;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 250px;
  background-color: #2e5f8b;
  color: $fontColor;
  padding-top: 60px;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
  border-right: solid 1px #2e5f8b;
}

.menu-container.open {
  transform: translateX(0);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 10px;
}

ul li i {
  font-size: 16pt;
  margin-right: 3%;
}

a {
  text-decoration: none;
  color: $fontColor;
  font-size: $fontSizeText;
}

.close-btn {
  position: absolute;
  top: 16px;
  right: 20px;
  background-color: transparent;
  border: none;
  color: $fontColor;
  cursor: pointer;
}

.close-btn:focus {
  outline: none;
}

.content {
  padding: 20px;
}

.top-bar {
  background-color: #333;
  color: $fontColor;
  padding: 10px;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.top-bar h1 {
  margin: 0;
  font-size: 24px;
}

.line-division {
  height: 1px; 
  width: 100%; 
  background-color: $primaryColor;
  position: absolute;
  top: 48px;
}

footer {
  position: fixed; 
  bottom: 1%;
  margin: 5%;
  a {
    cursor: pointer;
  }
}

.logo {
  width: 120px;
  height: 80px;
}