<div class="menu-container">
  <div class="menu-list-content">
    <ul>
      <li *ngFor="let item of menuList" class="list-item">
        <a routerLink="{{ item.link }}" [queryParams]="item">
          <i
            class="{{ item.icon }}"
            data-toggle="tooltip"
            data-placement="top"
            title="Tooltip on top"
          ></i>
          {{ item.nombre }}
        </a>
      </li>
    </ul>
    <a routerLink="gastos" style="text-align: center; width: 100%;">
      <i
        class=""
        data-toggle="tooltip"
        data-placement="top"
        title="Gastos"
      ></i>
      Gastos
    </a> <br>
    <a routerLink="proveedores" style="text-align: center; width: 100%;">
      <i
        class=""
        data-toggle="tooltip"
        data-placement="top"
        title="Proveedores"
      ></i>
      Proveedores
    </a>
  </div>
  <div class="footer-content">
    <footer>
      <a (click)="logout()">
        <i class="fa-solid fa-arrow-right-from-bracket"></i>
      </a>
    </footer>
  </div>
</div>
