<div class="pure-menu custom-restricted-width">
    <ul class="pure-menu-list">
        <li class="pure-menu-item">
            <a href="#" class="pure-menu-link">Incio</a>
        </li>
        <li class="pure-menu-item">
            <a href="#" class="pure-menu-link">Resultados</a>
        </li>
        <li class="pure-menu-item">
            <a href="#" class="pure-menu-link">Indicadores</a>
        </li>
        <li class="pure-menu-item">
            <a href="#" class="pure-menu-link">Cash Flow</a>
        </li>
        <li class="pure-menu-item">
            <a href="#" class="pure-menu-link">Analísis de costos</a>
        </li>
        <li class="pure-menu-item">
            <a href="#" class="pure-menu-link">Estimaciones Profit %</a>
        </li>
        <li class="pure-menu-item">
            <a href="#" class="pure-menu-link">New Business</a>
        </li>
    </ul>
</div>