@import '/src/styles.scss';

.menu-container {
  position:fixed;
  width: 13rem;
  height: 100%;
  background-color: $primaryColor;
  color: $fontColor;
  border-right: solid 1px $primaryColor;
  font-size: 10pt;
}
.menu-header-logo {
  width: 10rem;
  height: 4rem;
  background-color: bisque;
}

.logo-content {
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2rem 0;
  background-color: $primaryColor;
}
.content-current-title {
  width: 100%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 800;
  font-size: 0.8rem;
  text-align: center;
  background-color: #ffca2e;
}
.menu-list-content ul {
  list-style: none;
  padding: 0;
  margin: 1.5rem 0;
}
.list-item {
  padding: 0.3rem 0.3rem;
  margin: 0.5rem 0;
  cursor: pointer;
}
.list-item a:hover {
  opacity: 1;
  color: #ffca2e;
}
.selected {
  color: #ffca2e;
}
.no-selected {
  color: #fff;
}

.menu-list-content ul li i {
  font-size: 1.2rem;
  margin-right: 3%;
}
a {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 0.9rem;
  text-decoration: none;
  color: $fontColor;
}
.footer-content {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  bottom: 2rem;
}

.footer-content i {
  font-size: 1.5rem;
  color: #fff;
}

footer {
  a {
    cursor: pointer;
  }
}
