.btn-active {
    background-color: #7881af !important; 
    color: #fff !important;
}

.btn-inactive {
    background-color: #ffffff !important;
    color: #000 !important;
}


.button-switch {
    text-align: center;
    // min-width: 10px;
    width: 120px;
    //height: 40px;
    background-color: #ffffff;
    border-radius: 8%;
    border: 1px solid #696969;
    cursor: pointer;
    color: #000;
}

.point {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 2px;
    //margin-left: 10px;
    margin-top: 0.3rem;
}

.line-colors {
    display: flex;
    font-size: 8pt;
    .point {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin-top: 3px;
       // margin-right: 5px;
       // margin-left: 10px;
    }
}