<div *ngIf="!isResultadosScreen">
    <div class="row">

        <div class="col-5 md-6 sm-12">
            <div class="row">
                <div class="col-11 md-11 sm-12">
                    <div style="display: flex; margin-top: 2%;">
                        <button class="button-switch"
                            [ngClass]="{'btn-active': isBtnParrotActive == 2, 'btn-inactive': isBtnParrotActive != 2}"
                            (click)="fillDonughtChart(2)" style="font-size: 10pt;">Parrot</button>
                        <button class="button-switch"
                            [ngClass]="{'btn-active': isBtnParrotActive == 1, 'btn-inactive': isBtnParrotActive != 1}"
                            (click)="fillDonughtChart(1)" style="margin-left: 10px; font-size: 10pt;">Ingresos</button>
                        <button class="button-switch"
                            [ngClass]="{'btn-active': isBtnParrotActive == 3, 'btn-inactive': isBtnParrotActive != 3}"
                            (click)="fillDonughtChart(3)" style="margin-left: 10px; font-size: 10pt;">Tipo de
                            Pago</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-3 md-3 sm-12">
            <div class="row">
                <div style="display: flex; margin-top: 2%;">
                    <button class="button-switch"
                        [ngClass]="{'btn-active': isBtnMonthActive, 'btn-inactive': !isBtnMonthActive}"
                        (click)="fillBarChart(1,0)" style="font-size: 10pt;">Mensual</button>
                    <button class="button-switch"
                        [ngClass]="{'btn-active': !isBtnMonthActive, 'btn-inactive': isBtnMonthActive}"
                        (click)="fillBarChart(2,0)" style="margin-left: 10px; font-size: 10pt;">Semanal</button>
                </div>
            </div>
        </div>

        <div class="col-4 md-3 sm-12">
            <div class="row" style="margin-top: 2%;">
                <div class="col-6 md-6 sm-12" style="margin: auto;"><label style="font-weight: 600; float: right;">Punto
                        de Venta</label></div>
                <div class="col-6 md-6 sm-12">
                    <select class="form-control" (change)="fillBarChart(0,$any($event.target).value)">
                        <option value="1" [selected]>Todos</option>
                        <option value="2">General</option>
                        <option value="3">Sucursal</option>
                        <option value="4">Uber</option>
                        <option value="5">Rappi</option>
                        <option value="6">DiDi</option>
                    </select>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-5 md-5 sm-12">
            <div class="row" style="margin-top: 8%;" *ngIf="isBtnParrotActive == 1 || isBtnParrotActive == 2">
                <div class="col-1 md-1 sm-12"> </div>
                <div class="col-6 md-6 sm-12">
                    <div style="margin: auto; margin-top: 3%;">

                        <div style="display: flex;">
                            <div style="width: 45%; padding: 5px;  padding-left: 15px;">
                                <label style="font-size: 15pt; font-weight: 600;">Venta Total</label>
                            </div>
                            <label
                                style="font-weight: bold; font-size: 16pt; padding-left: 25px;">{{(channelSales?.totalDinnigRoom
                                + channelSales?.totalUber + channelSales?.totalRappi + channelSales?.totalDidi) |
                                currency}}</label>
                        </div>

                        <div style="display: flex; margin-top: 7px;">
                            <div style="width: 45%; display: flex;">
                                <div class="point" style="background-color: #3889EB;"></div><label>Sucursal</label>
                            </div>
                            <label style="font-size: 16pt; padding-left: 25px;">{{channelSales?.totalDinnigRoom
                                | currency}}
                            </label>
                        </div>

                        <div style="display: flex; margin-top: 7px;">
                            <div style="width: 45%; display: flex;">
                                <div class="point" style="background-color: #31B968; margin-top: 5%;"></div><img
                                    width="80" height="40" src="assets/uber.svg">
                            </div>
                            <label style="font-size: 16pt; padding-left: 25px;">{{channelSales?.totalUber
                                | currency}}</label>
                        </div>

                        <div style="display: flex; margin-top: 7px;">
                            <div style="width: 45%; display: flex;">
                                <div class="point" style="background-color: #F31A86;"></div><img width="50" height="25"
                                    src="assets/rappi.png">
                            </div>
                            <label style="font-size: 16pt; padding-left: 25px;">{{channelSales?.totalRappi
                                | currency}}</label>
                        </div>

                        <div style="display: flex; margin-top: 7px;">
                            <div style="width: 45%; display: flex;">
                                <div class="point" style="background-color: #F37D1A; margin-top: 5%;"></div><img
                                    width="80" height="40" src="assets/didi.svg">
                            </div>
                            <label style="font-size: 16pt; padding-left: 25px;">{{channelSales?.totalDidi
                                | currency}}</label>
                        </div>

                    </div>
                </div>

                <div class="col-4 md-4 sm-12">
                    <canvas baseChart class="chart" [data]="salesDonutChartData" [type]="'pie'"
                        [options]="pieChartOptions" [plugins]="pieChartPlugins">
                    </canvas>
                </div>

            </div>

            <div class="row" *ngIf="isBtnParrotActive == 3" style="margin-top: 8%;">
                <div class="col-1 md-1 sm-12"></div>
                <div class="col-10 md-10 sm-12" style="text-align: center;">
                    <label class="subtitle">Tipo de Pago</label>
                    <div class="row" style="margin-top: 3%;">
                        <div class="col-2 md-2 sm-12">
                            <label style="font-weight: 600; font-size: 11pt; color: #074877;">TARJETA</label>
                        </div>
                        <div class="col-10 md-10 sm-12">
                            <progress-bar [progressColor]="'#ffda22'" [progress]="paymentType.percentPayment"
                                [ammount]="paymentType.totalPayment" />
                        </div>
                    </div>
                    <div class="row" style="margin-top: 3%;">
                        <div class="col-2 md-2 sm-12">
                            <label style="font-weight: 600; font-size: 11pt; color: #074877;">EFECTIVO</label>
                        </div>
                        <div class="col-10 md-10 sm-12">
                            <progress-bar [progressColor]="'#69e141'" [progress]="paymentType.percentParrot"
                                [ammount]="paymentType.totalParrot" />
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-7 md-7 sm-12">

            <div class="row" style="margin-top: 5%;">
                <div class="col-3 md-3 sm-12">
                    <div style="display: flex;">
                        <input type="checkbox" checked>
                        <label style="margin-left: 5%;">Tacos Pacos</label>
                    </div>
                </div>
                <div class="col-9 md-9 sm-12">

                    <canvas baseChart class="chart" style="height: 100px !important;" [data]="barChartData"
                        [options]="barChartOptions" [type]="barChartType"></canvas>
                </div>
            </div>

        </div>
    </div>

</div>

<!-- /////////////////////////////////// DESDE RESULTADOS ///////////////////////// -->

<div *ngIf="isResultadosScreen">
    <div class="row">
        <div class="col-2 md-2 sm-12"></div>
        <div class="col-2 md-2 sm-12">
            <div class="row">
                <div class="col-11 md-11 sm-12">
                    <div style="display: flex; margin-top: 2%;">
                        <button class="button-switch"
                            [ngClass]="{'btn-active': isBtnParrotActive == 2, 'btn-inactive': isBtnParrotActive != 2}"
                            (click)="fillDonughtChart(2)" style="font-size: 10pt;">Parrot</button>
                        <button class="button-switch"
                            [ngClass]="{'btn-active': isBtnParrotActive == 1, 'btn-inactive': isBtnParrotActive != 1}"
                            (click)="fillDonughtChart(1)" style="margin-left: 10px; font-size: 10pt;">Ingresos</button>

                    </div>
                </div>
            </div>
        </div>



        <div class="col-4 md-3 sm-12">
            <div class="row" style="margin-top: 2%;">
                <div class="col-6 md-6 sm-12" style="margin: auto;"><label style="font-weight: 600; float: right;">Punto
                        de Venta</label></div>
                <div class="col-6 md-6 sm-12">
                    <select class="form-control" (change)="fillBarChart(0,$any($event.target).value)">
                        <option value="1" [selected]>Todos</option>
                        <option value="2">General</option>
                        <option value="3">Sucursal</option>
                        <option value="4">Uber</option>
                        <option value="5">Rappi</option>
                        <option value="6">DiDi</option>
                    </select>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-8 md-8 sm-12">

            <div class="row" style="margin-top: 5%;">
                <div class="col-3 md-3 sm-12">
                    <div style="display: flex;">
                        <input type="checkbox" checked>
                        <label style="margin-left: 5%;">Tacos Pacos</label>
                    </div>
                </div>
                <div class="col-9 md-9 sm-12">

                    <canvas baseChart class="chart" style="height: 100px !important;" [data]="barChartData"
                        [options]="barChartOptions" [type]="barChartType"></canvas>
                </div>
            </div>

        </div>
        <div class="col-4 md-4 sm-12">
            <div class="row" style="margin-top: 8%;" *ngIf="isBtnParrotActive == 1 || isBtnParrotActive == 2">
                <div class="col-3 md-3 sm-12"></div>
                <div class="col-6 md-6 sm-12">
                    <canvas baseChart class="chart" [data]="salesDonutChartData" [type]="'pie'"
                        [options]="pieChartOptions" [plugins]="pieChartPlugins">
                    </canvas>
                    <div class="line-colors">

                        <div style="display: flex;"><div class="point" style="background-color: #3889EB;"></div><label>Sucursal</label></div>
                        <div style="display: flex;"><div class="point" style="background-color: #31B968;"></div><label>Uber</label></div>
                        <div style="display: flex;"><div class="point" style="background-color: #F31A86;"></div><label>Rappi</label></div>
                        <div style="display: flex;"><div class="point" style="background-color: #F37D1A;"></div><label>Didi</label></div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>